.menuItem {
  position: absolute;
  top: 2;
  right: 8px;
  font-weight: 700;
}

.Notifications {
  position: absolute;
  top: 30px;
  right: 8px;
  width: 30%;
  margin: 0 auto;
  border: 0.15rem solid #e1344b;
  padding: 10px;
  border-style: dashed;
  z-index: 100;
}
[data-notification-type|="default"] {
  color: blue;
}
[data-notification-type|="urgent"] {
  color: red;
}
.Notifications button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#iconClose {
  width: 10px;
  height: 10px;
}

