body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App-header {
  display: flex;
  width: 100%;
}
img {
  width: 300px;
}
h1 {
  text-align: center;
  display: inline-block;
  margin: auto 0;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #e0354b;
}
hr {
  width: 98%;
  border: 2px solid #e0354b;
}
.App-body {
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.App-footer {
  position: fixed;
  margin-top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 600;
}
label{
  margin: 5px;
}
#okBtn{
  margin: 5px;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 1px #696969;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: 4px;
  cursor: pointer;
}